# Usamos LocalExecutor para simplicidad
executor: "LocalExecutor"

# ===========================
# Database (PostgreSQL externo)
# ===========================
data:
  metadataConnection:
    user: postgres
    pass: mlops_pass
    protocol: postgresql
    host: mlops-postgresql.mlops.svc.cluster.local
    port: 5432
    db: mlops_db
    sslmode: disable

  # el chart usará lo mismo para result backend
  resultBackendConnection: ~

  brokerUrl: ~

# ===========================
# Disable subcharts
# ===========================
postgresql:
  enabled: false

redis:
  enabled: false

# ===========================
# Config settings (airflow.cfg)
# ===========================
config:
  core:
    load_examples: "False"
    executor: "LocalExecutor"
  # SQL Alchemy URI tomado de metadataConnection más arriba:
  # no hace falta repetirlo aquí

# ===========================
# Webserver
# ===========================
webserver:
  defaultUser:
    enabled: true
    username: admin
    password: admin
    email: admin@example.com
  service:
    type: ClusterIP

# ===========================
# Disable persistence
# ===========================
dags:
  persistence:
    enabled: false

logs:
  persistence:
    enabled: false

# ===========================
# Triggerer (opcional)
# ===========================
triggerer:
  enabled: false
